<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% block content %}
        {% load mptt_tags %}
<ul>
    {% recursetree nodes %}
        <li>
            {{ node.first_name }}
            {{ node.last_name }}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
    {% endblock content %}
</body>
</html>

